
[Unit]
Description=Stratum Async Server
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/mnt/data/mining_pwa_backend_flask/backend
Environment=PATH=/mnt/data/mining_pwa_backend_flask/backend/venv/bin
ExecStart=/mnt/data/mining_pwa_backend_flask/backend/venv/bin/python /mnt/data/mining_pwa_backend_flask/backend/stratum_async.py
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
